name: Sync to DO repo

on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4

      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: vincentwolf89/demo_backend   # Target repo
          token: ${{ secrets.DEPLOY_REPO_TOKEN }}
          path: target
          ref: test   # <-- checkout the 'test' branch

      - name: Sync files
        run: |
          rsync -av --delete \
            --exclude='.git' \
            --exclude='.github' \
            ./ target/

      - name: Commit and push
        run: |
          cd target
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add .
          git commit -m "Sync from source repo" || echo "No changes"
          git push origin test   # <-- push explicitly to 'test'
